<div class="flex flex-col items-center h-screen">
  <div class="flex justify-between w-full mb-4">
    <div class="flex items-center">
      <div class="w-6"></div> <!-- Espace avant l'icône de retour -->
      <app-back-button></app-back-button>
      <div class="w-6"></div> <!-- Boîte invisible pour créer un espace -->
    </div>
    <h2 class="text-2xl font-bold mb-4">Se connecter</h2>
    <div class="w-6"></div> <!-- Autre espace pour équilibrer -->
  </div>

  <form class="w-full max-w-sm mx-auto" [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Email ou nom d'utilisateur</label>
      <input class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Email ou nom d'utilisateur" formControlName="email">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe</label>
      <input class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Mot de passe" formControlName="password">
    </div>
    <div class="flex justify-center">
    <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline" type="submit">Se connecter</button>
    </div>
  </form>
</div>
