<div class="post-detail bg-white rounded-lg p-6 shadow-md">
  <div class="flex items-center mb-4">
    <app-back-button></app-back-button>
    <div class="w-6"></div> <!-- Boîte invisible pour créer un espace -->
    <h1 class="text-3xl font-bold">{{ post?.title }}</h1>
  </div>
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center space-x-4 text-gray-600">
      <span>{{ post?.createdAt | date: 'mediumDate' }}</span>
      <span>{{ post?.author?.username }}</span>
      <span>{{ post?.topic?.name }}</span>
    </div>
  </div>
  <p class="text-black mb-6">{{ post?.content }}</p>
  <hr class="border-t-2 border-black mb-4">
  <h2 class="text-xl font-semibold mb-4">Commentaires</h2>

  <!-- Affichage des commentaires -->
  <div *ngIf="post && post.comments && post.comments.length > 0">
    <div *ngFor="let comment of post?.comments" class="mb-4 flex justify-center">
      <div class="w-full max-w-lg flex items-start mb-2">
        <span class="">{{ comment.author?.username }}</span>
        <div class="ml-4 bg-gray-100 rounded-lg p-4 w-full">
          {{ comment.content }}
        </div>
      </div>
    </div>
  </div>



  <!-- Formulaire d'ajout de commentaire -->
  <form (ngSubmit)="addComment()" class="mt-4">
    <div class="flex items-center">
      <textarea type="text" placeholder="Ecrivez ici votre commentaire" class="border-2 border-grey rounded p-2 flex-1"
        [(ngModel)]="newCommentContent" name="newCommentContent" required>    </textarea>

      <button type="submit" class="ml-2 bg-violet text-white p-2 rounded">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>