<div class="flex justify-center items-center flex-col h-screen">
  <img src="/assets/logo_p6.png" alt="logo" class="sm:h-30 md:h-48 lg:h-64" />

  <!-- Utilisez des classes différentes pour la disposition des liens en fonction de la taille de l'écran -->
  <div class="mt-4 flex flex-col md:flex-row md:space-x-4">
    <a routerLink="/login" class="bg-white border border-black rounded px-4 py-2 font-bold md:mb-0 mb-4">Se connecter</a>
    <a routerLink="/register" class="bg-white border border-black rounded px-4 py-2 font-bold">S'inscrire</a>
  </div>
</div>
