<nav  *ngIf="showNavbar" class="navbar md:flex items-center justify-between border-b border-black">
    <div class="navbar-logo">
      <a routerLink="/">
      <img src="/assets/logo_p6.png" alt="Logo" class="h-24">
      </a>
    </div>
    <div class="navbar-items">
      <ul class="flex justify-end items-center">
        <li class="mr-4"><a routerLink="/feedPost">Articles</a></li>
        <li class="mr-4"><a routerLink="/allTopics">Thèmes</a></li>
        <li class="relative">
          <a routerLink="/contact">
            <div class="rounded-full bg-gray-400 h-10 w-10 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-white" viewBox="0 0 20 20">
                <path d="M12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm3 0a7 7 0 0 0-6 6.32 7.2 7.2 0 0 0 2-.32 5 5 0 0 1 2-3 5 5 0 0 1 2 3 7.2 7.2 0 0 0 2 .32 7 7 0 0 0-6-6zm-6-6a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
              </svg>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="mb-12"></div>
  </nav>
